# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

/client/.env
/client/.git

/server/.env
/server/.env.example
/server/node_modules
/server/.git